.section-two {
    margin-top: 120px;
    margin-bottom: 100px;
}
.section-two
img {
    width: 100%;
    height: auto;
}
.chandelier {
    width: 270px;
    height: 289px;
    order: 3;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
}
.chair{
    width: 270px;
    height: 289px;
    margin: 14px 14px 1px;
    order: 1;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
}
.table {
    width: 270px;
    height: 289px;
    order: 2;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
}
.line {
    width: 90px;
    height: 4px;
    margin-top: -25px;
    background: #303032;
}
.first-text 
h3 {
    font-size: 28px;
    font-family: Playfair Display;
}
.chair-office 
.text {
    margin-top: 17px;
}
.chair-office {
    height: 593px;
    order: 4;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
}
.chandelier, 
.chair,
.table,
.chair-office {
    margin: 15px;
}
.table {
    background: #FAECE9;
}
.right-content {
    width: 570px;
    height: 614px;
}
.left-content
.chandelier
.thing-img img {
    margin: 0px 54px 17px;
    width: 170px;
    height: 211px;
}
.center-content
.chair
.thing-img img {
    margin: 16px 60px 36px;
    width: 175px;
    height: 169px;
}
.center-content
.table
.thing-img img {
    margin: 0px 32px 0px;
    width: 202px;
    height: 226px;
}
.section-two
.text {
    text-align: center;
    font-family: Open Sans;
}
.d-flex {
    display: flex;
    align-items: flex-start;

}

.first-text {
    margin: 123px 15px 157px;
}
@media screen and (max-width: 1023px) {
    .right-content,
    .chair-office {
        margin: 0px;
        width: 348px;
        height: 414px;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
    }
    .first-text
    h3 {
        font-size: 20px;
    }
    .line {
        width: 70px;
        height: 2px;
        margin-top: -20px;
        background: #303032;
    }
    .chandelier {
        margin: 7px 8px 4px;
         width: 224px;
         height: 289px;
    }
    }
    @media screen and (max-width: 1023px) {
        .chair {
            width: 235px;
            height: 292px;
            margin: 0px 14px 1px;
        }
        .table {
            width: 235px;
            height: 292px;
            margin: 12px 14px 1px;
        }
        .left-content .chandelier .thing-img img {
            margin: 0px 54px 17px;
            width: 170px;
            height: 211px;
        }
        .left-content .chandelier .thing-img img {
            margin: 0px 25px 17px;
    }
        .center-content .chair .thing-img img {
        margin: 16px 46px 36px;
    }
        .center-content .table .thing-img img {
        margin: -29px 16px 25px;
    }
}
@media screen and (max-width: 767px) {
    .d-flex {
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .center-content {
     flex-direction: column;
    }
    .first-text {
    position: relative;
    top: -500px;
    left: 12px;
}
    .center-content {
        order: 2;
        width: 288px;
        height: 289px;  
        margin: 0px 14px 1px;
    }
    .left-content {
        order: 3;
    }
    .right-content {
        order: 4;
    }
    .chair {
        width: 288px;
        height: 289px;
        margin-bottom: 25px;
    }
    .table {
        width: 288px;
        height: 289px;
        margin-bottom: 25px;
    }
    .chandelier {
        width: 288px;
        height: 289px;
        margin-top: 187px;
        margin-left: 35px;
        margin-bottom: 25px;
    }
}
    @media screen and (max-width: 767px) {
        .center-content
        .chair
        .thing-img  img {
            margin-left: 71px;
            width: 175px;
            height: 169px;
        }
        .center-content
        .table
        .thing-img img {
            margin-top: 20px;
            margin-left: 58px;
            width: 175px;
            height: 169px;
        }
        .left-content
        .chandelier
        .thing-img img {
            margin-top: 10px;
            margin-left: 53px;
            width: 175px;
            height: 169px;
        }
        .right-content
        .chair-office {
            margin-left: 43px;
            width: 288px;
            height: 289px;
            background-color: #F9FDFF;
        }
    }
    .d-flex-second {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
    .center-position {
        width: 650px;
        text-align: center;
    }
    .center-position p {
        color: #444348;
        text-align: center;
        font-size: 16px;
        font-style: italic;
    }
    .center-position
    .picture img {
        border: 1px;
        border-radius: 50%;
    }

    .left-position,
    .right-position {
        display: flex;
        margin-top: 25px;
        width: 36px;
        height: 36px;
        border:1px solid gray;
        border-radius: 50%;
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
        justify-content: center;
         align-items: center;
    }
    .bottom-position {
        margin-top: 30px;
        margin-bottom: 100px;
        text-align: center;
    }
    @media screen and (max-width: 767px) {
        .container
        .d-flex-second
         {
            display: none;
        }
        .container
        .bottom-position {
            display: none;
        }
    }
   
    .pink-contant::before {
        content: '';
        position: absolute;
        margin-left: -190px;
        width: 835px;
        height: 545px;
        background: #FAECE9;
    }
    .pink-contant h2,
    .underline,
    .flex-bar {
        /* margin-left: 150px; */
    }
    .underline {
        width: 90px;
        height: 4px;
        background: #303032;
    }
    .pink-contant h2,
    .underline, 
    .flex-bar {
        position: relative;
    }
 h2 {
        padding-top: 70px;
    }
    .flex-bar {
        display: flex;
        gap: 42px;
        margin-top: 35px;
    }
    .flex-bar a {
        color: rgba(0, 0, 0, 0.40);
        font-size: 16px;
    }
    .flex-bar a:hover {
        color: #000;
        text-decoration-line: underline;
    }
    .icon-card {
        margin-bottom: 65px;
        position: relative;
        display: flex;
        top: 60px;
        gap: 30px;
    }
    .card {
        width: 209px;
        height: 350px;  
        background: #FFF;
        box-shadow: 2px 2px 30px 0px rgba(56, 54, 53, 0.20);
        cursor: pointer;
    }
    .card-body {
        position: relative;
    }
    .card
    .head-text {
        padding-top: 5px;
        text-align: center;
    }
    .icon {
        font-size: 28px;
    }
    .icon-grey {
        color: #979798;
        font-size: 16px;
        text-decoration-line:  line-through;
    }
    .icon-card
    .icon-img img {
        margin-left:  23px;
        width: 180px;
        height: 246px;
    }
    .button-buy
    button {
        width: 209px;
        height: 58px;
        background: #303032;
        color: #FFF;
        cursor: pointer;
    }
    .card-body:hover .card {
        position: absolute;
         z-index: 1000;
    }
    .button-buy  {
        display: none;
    }
    .card:hover .button-buy {
        height: 400px;
        display: block;
         height: auto;
    }
  